#!/usr/bin/env expect

set force_conservative 1  ;# set to 1 to force conservative mode even if
			  ;# script wasn't run conservatively originally
if {$force_conservative} {
	set send_slow {1 .1}
	proc send {ignore arg} {
		sleep .1
		exp_send -s -- $arg
	}
}

set timeout -1
cd "/root/software/{{ package_name.split('.zip')[0] }}/{{ package_name.split('.zip')[0] }}/"
spawn ./install.sh
match_max 100000

expect "Continue to install? (y/n) \[n\]:"
send -- "y\r"

expect "Which user should own the  files? \[\]:"
send -- "root\r"

expect "Are these selections OK? (y/n/q)  \[y\]:"
send -- "y\r"

expect " Enter choice {q}: "
send -- "q\r"

expect "$ "
send "exit\r"
