# {{ ansible_managed | comment }}

# ====================================================================
# Agent Configuration Information
# ====================================================================

[config]
agents={{ inventory_hostname.split('.')[0].upper() }}
# Hold onto 14 days of logs
logdays=14
# 10MB largest file size
logsize=10485760
sslvldcrt=n
#ovb=tidaldebug

[{{ inventory_hostname.split('.')[0].upper() }}]
port=5912
java=/usr/java/default/bin